@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: blue;*/

}
.head h1{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    color:white;
}

.add{
    display: flex;
    padding-right: 10rem;
    align-items: end;
    justify-content: end;
}
.add button{
    padding: 1rem 1rem;
    background-color: white;
    border: none;
    color: black;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
}
.add button:hover{
    background: none;
    color: white;
    border: white 2px dashed;
}
.add button a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.thead table{
    padding-top: 2%;
    width: 100%;
    color:white;
}
.thead th{
    border-radius: 3px;
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
}
.thead table tbody  tr td{
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
body{
    position: relative;
    width: 100vw;
}
.form{
    color: black;
    font-size: 24px;
    font-family: 'Poppins',sans-serif;
    /*position: absolute;*/
    width: 600px;
    height: 800px;
    background-color: rgb(254, 250, 250);
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    overflow-y:auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}
.form form{
    position: absolute;
    top: 0;
}
.form-header{
    display: flex;
}

.form-header .btnrst{
    margin: 10% 0% 0% 30%;
    font-size: 2rem;
    text-align: center;
    background-color: white;
    color: black;
}
.form {
    display: flex;
}
.form form input{
    padding: 2% 5%;
}
.form .sbtn{
    padding-bottom: 2rem;
}
.form p{
    color: #f01b0b;
    font-size: 18px;
}
.form form input,
.form form textarea{
    width: 60%;
    font-size: 24px;
    font-family: 'Poppins',sans-serif;
    border: 2px solid;
    border-radius:15px ;

}
.form form button{
    width: 6rem;
    height: 3rem;
    margin-left: 70%;
    text-align: center;
    font-size: 20px;
    border-radius:15px ;
    font-family: 'Poppins',sans-serif;
    background-color: blue;
    color: white;
    border: none;
}
.action-buttons{
    display: flex;
    justify-content: center;
}
.action-buttons button{
    color: white;
    border: none;
}
.action-buttons button{
    background: none;

    color: white;
    border: none;
}
.action-buttons .delete{
    color: #F44336;
}
.form-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
@media only screen and (min-width: 1366px)
{
    .form{
        color: black;
        font-size: 18px;
        font-family: 'Poppins',sans-serif;
        /*position: absolute;*/
        width: 600px;
        height: 500px;
        background-color: rgb(254, 250, 250);
        box-shadow: 0 0 10px black;
        border-radius: 20px;
        overflow-y:auto ;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        position: relative;
    }
    .form form input,
    .form form textarea{
        width: 100%;
        font-size: 24px;
        font-family: 'Poppins',sans-serif;
        border: 2px solid;
        border-radius:15px ;

    }
    .form-header .btnrst{
        margin: 10% 0% 0% 50%;
        font-size: 2rem;
        text-align: center;
        background-color: white;
        color: black;
    }
    .form-header h1{
        width: 50%;
    }
}
@media only screen and (min-height: 768px)
{ /* Your Styles... */ }