.form-container1{
    padding-top: 5%;
    height: 89.35vh;
    background: url("/src/components/images/back3.jpg") no-repeat;
    background-size: cover;
}
.inner{
    border-radius: 10px;
    width: 600px;
    background-color: azure;
    opacity: 0.7; 
    margin:5rem 0 0 42rem;
}
.inner-form{
    color: black;
    margin-right: auto;
    display: flex;
    padding-left: 3rem;
    justify-content: left;
    align-items:center;
}
.inner-form h2{
    width: 50%;
}
.inner-form .data-field{
    width: 50%;
}
.inner-form p{
    color: black;
    font-size: 25px;
}
